<table id='torrentTable' class='table table-condensed table-bordered table-hover'>
	<thead>
		<tr>
			<th>
				Status
			</th>
			<th>
				Name
			</th>
            <th>
                DL Rate
            </th>
            <th>
                UL Rate
            </th>
		</tr>
	</thead>
	<tbody>
		{{#each torrents}}
			{{render 'torrent' this}}
		{{/each}}
	</tbody>
</table>