<div class="input-prepend input-append">
  <span class="add-on"><i class='icon-folder-open-alt'></i></span>
  {{view Ember.TextField valueBinding='view.folder' classNames='input-medium'}}
  <button id='browse' class="btn" type="button" {{action browse target='view'}}>...</button>
</div>

{{#if view.isBrowsing}}
    <div id='folders' class='popover bottom fade in' style='display:block;'>
        <div class='arrow'></div>
        <div class='popover-content'>
            <ul class='nav nav-list'>
                {{#unless view.folders}}
                    Loading...
                {{/unless}}
                {{#each view.folders}}
                    <li>
                        <a href='#' {{action setFolder name target='view'}}>
                            {{name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}