body {
  height: 100%;
}
#torrentListContainer {
  height: 400px;
  overflow: auto;
}
#torrentListContainer table {
  white-space: nowrap;
}
#torrentListContainer table tr.selected {
  background-color: #f5f5f5;
}
#toolbar {
  padding: 5px 0;
}
.selectFolder {
  position: relative;
}
.selectFolder .popover {
  width: 250px;
  top: 31px;
  left: 81px;
}
