{{#if view.torrent}}

    <div class='progress progress-striped' 
    {{bindAttr class='view.torrent.isDownloading:active'}}>
        <div class='bar' {{bindAttr style='view.progressBarStyle'}}></div>
    </div>
    <h4>
        {{view.torrent.name}}
    </h4>
{{/if}}

{{#unless view.torrent}}
<div class='alert'>
    You haven't selected a Torrent
</div>
{{/unless}}